* {
	box-sizing:border-box;
}
body {
	margin:0;
}
body {
	background-color:#e7e7e7;
	font-family:Arial,sans-serif;
}
.head {
	padding:50px 50px 35px;
}
.card {
	max-width:600px;
	padding:40px 45px;
	background-color:white;
	border-radius:15px;
	margin:0 auto;
	color:#333333;
	font-size:16px;
}
.title {
	color:#af4e8a;
	font-size:24px;
	font-weight:bold;
	margin:0;
	text-align:center;
}
.paragraph {
	line-height:1.5;
	margin-bottom:40px;
}
.link {
	color:#af4e8a;
	text-decoration:none;
	font-size:13px;
}
#if9q {
	font-family:Verdana,Geneva,sans-serif;
}
#i4e37 {
	padding:10px;
	position:static;
	text-align:center;
	font-family:Trebuchet MS,Helvetica,sans-serif;
	font-size:44px;
	font-weight:600;
}
#iuul4 {
	font-family:Verdana,Geneva,sans-serif;
	font-weight:600;
}
#iy8i {
	max-width:753px;
}
#i1ppk {
	font-weight:500;
}
#i1ppk-2 {
	font-weight:500;
}
#is67r {
	font-family:Verdana,Geneva,sans-serif;
	font-weight:600;
}
#i1ppk-3 {
	font-weight:500;
}
#ip168 {
	font-family:Verdana,Geneva,sans-serif;
	font-weight:600;
}
